USE [master]
GO
/****** Object:  Database [SampleDB]    Script Date: 04/20/2025 03:09:39 ******/
CREATE DATABASE [SampleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SampleDB', FILENAME = N'/var/opt/mssql/data/SampleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SampleDB_log', FILENAME = N'/var/opt/mssql/data/SampleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SampleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SampleDB]
GO
/****** Object:  Table [dbo].[ComplexData]    Script Date: 04/20/2025 03:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplexData](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[Score] [decimal](10, 2) NULL,
	[Metadata] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ComplexData] ([Id], [Name], [CreatedAt], [IsActive], [Score], [Metadata], [Data]) VALUES (1, N'Alice', CAST(N'2025-04-20T03:03:24.1494529' AS DateTime2), 1, CAST(99.50 AS Decimal(10, 2)), N'{ "role": "admin" }', N'[ { "key": "value" }, { "array": [1,2,3] } ]')
INSERT [dbo].[ComplexData] ([Id], [Name], [CreatedAt], [IsActive], [Score], [Metadata], [Data]) VALUES (2, N'Bob', CAST(N'2025-04-20T03:03:24.1494529' AS DateTime2), 0, CAST(75.00 AS Decimal(10, 2)), N'{ "role": "user" }', N'[ { "flag": true }, { "nested": { "x": 1, "y": "text" } } ]')
GO
CREATE TABLE [dbo].[ComplexData2](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[Score] [decimal](10, 2) NULL,
	[Metadata] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ComplexData2] ([Id], [Name], [CreatedAt], [IsActive], [Score], [Metadata], [Data]) VALUES (1, N'222222', CAST(N'2025-04-20T03:03:24.1494529' AS DateTime2), 1, CAST(99.50 AS Decimal(10, 2)), N'{ "role": "admin" }', N'[ { "key": "value" }, { "array": [1,2,3] } ]')
INSERT [dbo].[ComplexData2] ([Id], [Name], [CreatedAt], [IsActive], [Score], [Metadata], [Data]) VALUES (2, N'Bob2222', CAST(N'2025-04-20T03:03:24.1494529' AS DateTime2), 0, CAST(75.00 AS Decimal(10, 2)), N'{ "role": "user" }', N'[ { "flag": true }, { "nested": { "x": 1, "y": "text" } } ]')
GO
ALTER TABLE [dbo].[ComplexData] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComplexData]  WITH CHECK ADD CHECK  ((isjson([Data])=(1)))
GO
ALTER TABLE [dbo].[ComplexData2] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComplexData2]  WITH CHECK ADD CHECK  ((isjson([Data])=(1)))
GO
USE [master]
GO
